<router-outlet />
<div style="width: 300px;">
  <app-gauge-chart #gaugeChart1 [data]="[100,200,300]" [value]="150" [labels]="['Mon', 'Tue', 'Wed']" [showTooltip]="false" chartText="Weekly Sales" [colors]="['red','blue','green']"></app-gauge-chart>
  <!-- <button type="button" (click)="generatePdf(gaugeChart1.chartElementRef.nativeElement)">Generate PDF</button> -->
</div>

<div style="width: 300px;">
  <app-gauge-chart #gaugeChart2 [data]="[100,200,500]" [value]="800" [labels]="['Mon', 'Tue', 'Wed']" chartText="Monthly Sales" [colors]="colors"></app-gauge-chart>
  <!-- <button type="button" (click)="exportChartToPDF(gaugeChart2.chartElementRef.nativeElement)">Generate PDF</button> -->
</div>

<div style="width: 300px;">
  <app-gauge-needle-chart #gaugeChart3 [data]="[100,400,500]" [value]="500" [labels]="['Mon', 'Tue', 'Wed']" [colors]="colors"></app-gauge-needle-chart>
  <!-- <button type="button" (click)="generatePdf(gaugeChart3.chartElementRef.nativeElement)">Generate PDF</button> -->
</div>

<div id="myChart" class="chart--container">
  <a class="zc-ref" href="https://www.zingchart.com/">Powered by ZingChart</a>
</div>

